.all {
    margin-top: 20%;
    margin-bottom: 25%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.right {
    display: flex;
    flex-direction: column;
    border: 1px solid #E4E7E9;
    padding: 40px 40px;
}



.cartH {
    margin-bottom: 30px;
    border-bottom: 1px solid #E4E7E9;
    color: black;
}

.type {
    display: flex;
    justify-content: space-between;
}

.typeItem {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.type p {
    color: black;
    font-weight: bold;
    font-size: 20px;
}


.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #E4E7E9;
}

.img {
    display: flex;
    align-items: center;
    gap: 5px;
}

.img i {
    
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img button{
    background-color: transparent;
    border-radius: 50px;
}

.img button:hover{
    border-color: red;
}

.img i:hover {
    color: red;
    border-color: red;
}

.img p{
    color: black;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
}


.info {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: baseline;
}

.info p:nth-child(1){
    width: 11%;
}

.info p:nth-child(2){
    width: 32%;
}

.quantitySelector {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    justify-content: center;
    gap: 15px;
}

.button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.btns {
    display: flex;
    justify-content: space-between;
}

/**/

.left {
    display: flex;
    flex-direction: column;
    border: 1px solid #E4E7E9;
    padding: 40px 40px;
}

.total{
    border-bottom: 1px solid #E4E7E9;
    color: black;
}

.totalInfo{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E4E7E9;
    margin-top: 25px;
}

.infoRight p{
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.infoLeft p{
    color: rgb(47, 104, 156);
    font-weight: bold;
    font-size: 20px;
}


.order{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.orderInfo{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
}

.orderInfo p{
    color: black;
    font-weight: bold;
    font-size: 18px;
}


.checkout{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    background-color: transparent;
    color: #2DA5F3;
    gap: 5px;
    border: 1px solid #2DA5F3;
    border-radius: 5px;
}

.checkout:hover{
    background-color: #1B6392;
    color: white;
}

.placeBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    background-color: transparent;
    color: #2DA5F3;
    border: 1px solid #2DA5F3;
    border-radius: 5px;
}
.placeBtn:hover{
    background-color: #1B6392;
    color: white;
}

@media screen and (min-width:320px) and (max-width:991px){
    .type{
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }
    .typeItem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        text-align: center;
    }
    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        text-align: center;
    }
    .img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        text-align: center;
    }
    .item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }
}


@media screen and (min-width:992px) and (max-width:1199px){
    .typeItem{
        width: 70%;
    }

    .info{
        width: 73%;
    }

    .info p:nth-child(1){
        width: 7%;
    }
    .quantitySelector{
        width: 16%;
    }
}

