.all{
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img{
    
    border-radius: 5px;
    margin-bottom: 70px;
}

.emptyBtn {
    border: 1px solid #1B6392;
    padding: 20px 30px;
    border-radius: 5px;
    width: 20%;
    display: flex;
    justify-content: center;
    font-size: 25px;
    background-color: #1B6392;
}

.emptyBtn a {
    color: #fff;
    text-decoration: none;
}

.emptyBtn:hover {
    background-color: #fff;
}

.emptyBtn:hover a {
    color: #1B6392; 
}
